<div class="post ">
    <!-- vote -->
    <div class=" vote">
     <span (click)="upVote()" 
            class="up-vote" 
            [ngStyle]="{'color':(post.upVote) ? 'black':'white'}"
            #upVoteBtn>
            &#11014;
    </span> 
    <br>
     <p>{{post.voteCount}}</p>
     <span (click)="downVote()" 
            class="down-vote" 
            [ngStyle]="{'color':(post.downVote)? 'black':'white'}"
            #downVoteBtn>
            &#11015;
    </span>
    </div>
    <!-- content -->
    <div class=" content">
        <div class="row justify-content-between">
            <div class="col-11">
                <img class="img-post" src="assets/images/naruto.jpg" width="30" height="30" alt="Avatar">
                <span class="subreddit-name">r/{{post.subredditName}}  </span>
                <span class="postedby"> . Posted by {{post.userName}} {{post.duration}}</span>
            </div>
            <div class="col-1">
                <button class="btn-join">+</button>
            </div>
        </div>

        <div class="row description-post">
            <div class="col-12">
                <h5>{{post.postName}}</h5>
            </div>
            <div class="col-12">
                <p [innerHtml]="post.description">
                </p>
            </div>
            
        </div>
        <div class="row fotter-post">
            <div class="col-3">
                <span class="material-icons icon">mode_comment</span>
                <span class="icon-text">{{post.commentCount}} comments</span>
               
            </div>
            <div class="col-2">
                <span class="material-icons icon">share</span>
                <span class="icon-text">Share</span>
            </div>
            <div class="col-2">
                <span class="material-icons icon">bookmark</span>
                <span class="icon-text">Save</span>
            </div>
            <div class="col-1">
                <span class="material-icons icon">more_horizon</span>
            </div>
            
            
           
           
        </div>
        
    </div> 
</div>