<div class="register-section fullHeight">
    <div class="row justify-content-center align-items-center fullHeight">
        <div class="col-md-6">
            <img class="side-img" src="/assets/images/people-happy.jpg" alt="">
            <h1 class="img-text">By registering you can discuss and vote the content of other users on pretty much every field of human knowledge.</h1>

        </div>
        <div class="col-md-6">
            <div class="card register-form">
                <div class="card-header" style="text-align: center">
                    <h4>SignUp</h4>
                </div>
                <div class="card-body ">
                    <form [formGroup]="registerForm" (ngSubmit)="signUp(content)">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6 clearfix">
                                <input type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" required
                                    autofocus>
                                <div *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
                                class="color-red"> 
                                    Please provide a valid email
                                </div>                                    
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">User Name</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'username'"class="form-control" required autofocus>
                                <div *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                                class="color-red">
                                    Please provide a valid username
                                </div>                                 
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required>
                                <div *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                                        class="color-red">
                                    Please provide a valid Password
                                </div>  
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Confirm password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'confirmPassword'"  id="confirmPassword" class="form-control" name="ConfPassword" required>
                                <div *ngIf="!registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched "
                                        class="color-red">
                                    Please confirm your password
                                </div>
                                <div *ngIf="registerForm.get('confirmPassword').value != registerForm.get('password').value "
                                        class="color-red">
                                    Password don't match
                                </div>  
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" [disabled]="!registerForm.valid" class="sign-up btn btn-primary">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal >
    <div class="modal-popup">
        <div class="modal-header">
            <h4 class="modal-title">Thank you for your registration.</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>You will receive an email to confirm your account.</h5>
            <h5>You will find the email in the <strong>Spam</strong> group.</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
          </div>
    </div>
   
  </ng-template>