<div class="row">
    
    <div class="col-lg-8">
        <div class="row create-post my-lg-5 align-items-center ">
            <div class="col-lg-2 d-flex justify-content-center">
                <img  class="user-icon mx-auto" src="/assets/images/user-icon.png" alt="">
            </div>
            <div class="col-lg-8">
                <input type="text" (click)="createPost()" placeholder="Create a post...">
            </div>
            <div class="col-lg-2 d-flex justify-content-center">
                <img (click)="createPost()" class="link-icon" src="/assets/images/link-icon.png" alt="">
            </div>
        </div>
        
        <div class="" *ngIf="posts==undefined || posts.length==0">
            <h4 class="gray-color">There are no posts to display in this account.</h4>
            <h3 class="mt-5">It gets better when you join communities, so find some that you’ll love!</h3>
            <button routerLink="/popular-posts" class="btn btn-primary mt-2">Browse popular posts</button>
        </div>

        <ul class="post-list">
            <li *ngFor="let post of posts">
                <app-view-post [post]="post">
                </app-view-post>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <app-side-bar [type]="'top-subreddit'"></app-side-bar>
    </div>
    
</div>



