<div class="side-bar sticky-top mt-lg-5 ">
    <div class="top-of-side-bar d-flex justify-content-center align-items-center">
        <h5 >Relation ship communties</h5>
    </div>
    <ul>
        <li class="my-lg-4 subreddit" *ngFor="let subreddit of subreddits">
            <img class="mr-lg-2" src="https://ui-avatars.com/api/?background={{subreddit.colorIcon}}&color=fff&name={{subreddit.name}}" alt="">
            r/{{subreddit.name}}
        </li>
      
    </ul>
    <div class="footer">
        <button class="btn"> View all</button>
    </div>
    <br>
</div>