<div class="side-bar sticky-top mt-lg-5 ">
    <div class="top-of-side-bar d-flex justify-content-center align-items-center">
        <h5 >Relation ship communties</h5>
    </div>
    <ul>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
        <li class="my-lg-4">
            <img class="mr-lg-2" src="/assets/images/save-icon.png" alt="">
            r/AskReddit
        </li>
    </ul>
    <div class="footer">
        <button class="btn"> View all</button>
    </div>
    <br>
</div>