<div class="login-in-section fullHeight">
    <div class="row justify-content-center align-items-center fullHeight">
        <div class="col-md-6 position-relative">
            <img class="side-img" src="/assets/images/people-happy.jpg" alt="">
            <h1 class="img-text">by registering you can discuss and vote the content of other users on pretty much every field of human knowledge.</h1>
        </div>
        <div class="col-md-6">
            <div class="card login-form">
                <div class="card-header" style="text-align: center">
                    <h4>Log in</h4>
                </div>
                <div class="card-body ">
                    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                       
 
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">User Name</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'username'"class="form-control" required autofocus>
                                <div *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched"
                                class="color-red">
                                    Please provide a valid username
                                </div>                                 
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required>
                                <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
                                        class="color-red">
                                    Please provide a valid Password
                            </div>  
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up btn btn-primary">
                                Log in
                            </button>
                            <span style="padding-left: 15px">Create a compte? <a routerLink="/sign-up">Sign Up</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>