<div class=" mt-lg-5 subreddit-section">
<h1>List of all subreddits</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="row" *ngFor="let subreddit of subreddits">
            <div class="col-lg-12 mt-lg-5" >
                <div class=" subreddit">
                    <div class="row justify-content-between">
                        <div class="col-11">
                            <img class="img-subreddit mr-lg-1" src="https://ui-avatars.com/api/?background={{subreddit.colorIcon}}&color=fff&name={{subreddit.name}}" width="30" height="30" alt="Avatar">
                            <a [routerLink]="['/subreddit-post',subreddit.id]">
                                <span class="subreddit-name">r/{{subreddit.name}}  </span>
                            </a>
                            <!-- <span class="postedby"> . Posted by {{subreddit.}} {{subreddit.duration}}</span> -->
                        </div>
                        <div class="col-1">
                            <button class="btn-join" (click)="joinSubreddit(subreddit)">+</button>
                        </div>
                    </div>
            
                    <div class="row description-post">
                        <div class="col-12 mt-3">
                            <p [innerHtml]="subreddit.description">
                            </p>
                        </div>
                    </div>
                    <!-- post footer -->
                    <div class="row fotter-post">
                        <div class="col-3">
                            <img class="icon mr-lg-1" src="/assets/images/comment-icon.png" alt="">
                            <span class="icon-text">{{subreddit.numberOfPosts}} posts </span>
                        </div>         
                    </div>
                    
                </div> 
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <app-side-bar  [type]="'top-subreddit'">
        </app-side-bar>
    </div>
</div>

</div>