<div class="bg"></div>
<div class="container">
  
    <div class="row justify-content-center align-items-center fullHeight">
     
      <div class="  col-9">
        <form class="post-form " [formGroup]="postForm" (ngSubmit)="createPost()">
          <div class="form-group">  <!--content -->
            
            <h3 class="create-post-heading">Create Post</h3>
            <hr />
            <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
  
            <input type="text" class="form-control" [formControlName]="'url'" style="margin-top: 5px" placeholder="URL">
  
            <select class="form-control" style="margin-top: 10px;margin-bottom:10px" [formControlName]="'subredditName'">
              <option value="" selected disabled>Select Subreddit</option>
              <option *ngFor="let subreddit of subreddits">{{subreddit.name}}</option>
            </select>
  
            <editor  [formControlName]="'description'" [init]="{
                        height: 200,
                        menubar: false,
                        plugins: [
                          'advlist autolink lists link image charmap print preview anchor',
                          'searchreplace visualblocks code fullscreen',
                          'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                          'undo redo | formatselect | bold italic backcolor | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | removeformat | help'
                      }">
            </editor>
            <div class="row justify-content-end">
              <div style="margin-top: 10px" class=" col-3 ">
                <button (click)="discardPost()" style="margin-right:10px" class=" btn btn-outline-warning">Cancel</button>
                <button class=" btn btn-outline-primary active">Post</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>