.post-form
{
    background:inherit;
    overflow: hidden;
}
.post-form 
{
    background:white;
    padding:10px;
    border-radius:20px;
    z-index: 11;
    backdrop-filter: blur(20px);
    height: 100%;
}
input,select
{
    background-color:#ffffff3d;
}







